@media only screen and (max-width:968px) {

	

	/* Adjustments for tablet screen size */
	body {
		height: 100vh;
		margin: 0;
	}

	/* Logo */
	.logo-container img {
		height: 80px;
	}

	/* Social Media Links */
	.social-media-container img {
		height: 20px;
	}

	/* Additional Styling */
	.navigation-menu {
		font-size: 16px;
	}

	.navigation-menu a {
		font-size: 16px;
		padding-bottom: 2px;
		border-bottom: 2px solid transparent;
	}

	.navigation-menu a:hover {
		border: 3px solid #32dc57;
		padding: 7px;
		border-radius: 7px;
		background-color: #32dc57;
	}

	.button {
		padding: 8px 16px;
		font-size: 16px;
	}

	h1 {
		font-size: 120px;
		padding: 100px;
	}

	main img {
		width: 400px;
		height: 400px;
		border-radius: 15px;
	}

	h2 {
		font-size: 20px;
		padding: 5px;
	}

	.date-bar {
		font-size: 15px;
	}

}

textarea {
	height: 100px;
	width: 200px;
}